/* page.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

.offre {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
}

.offre:last-child {
    border-bottom: none;
}

h2 {
    color: #007BFF;
}

p {
    margin: 5px 0;
}

strong {
    color: #555;
}

